@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    max-width: 875px;
    min-width: 320px;
    margin: 4px auto 0px auto;
    padding: 0px 4px 4px 8px;
}

#perfil_dep {
    display: flex;
}

#perfil_image {
    display: block;
    width: 140px;
    box-shadow: 0px 0px 1px rgb(34, 34, 34);
}

#perfil_dep #perfil_info {
    margin-left: 8px;
}

#perfil_dep #perfil_info h1 {
    margin: 0px 0px 6px 0px;
}

table {
    font-weight: 800;
    border-collapse: collapse;
    max-width: 800px;
    margin: auto;
}

th {
    text-align: center;
    background-color: #2BA8D9;
    color: white;
    border: 1px solid #ddd;
    padding: 8px;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}