@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    margin: 0px;
}

header {
    background-color: #272A59;
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

#logotipo {
    display: block;
    margin: auto;
    width: 300px;
}

#menu {
    display: block;
    padding-left: 12px;
    padding-bottom: 4px;
}

#menu ul {
    padding-left: 0px;
    list-style-type: none;
    margin-bottom: 2px;
}

#menu li {
    display: inline;
}

#menu a {
    color: white;
    text-decoration: none;
    margin-left: 14px;
}

#btn-mobile {
    display: none;
}

@media (max-width: 600px) {
    #btn-mobile {
        display: block;
        margin: auto;
        border-style: none;
        color:white;
        background-color: #272A59;
        cursor: pointer;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
    }

    #menu {
    padding-left: 0px;
    }

    #menu ul {
        display: none;
    }

    #menu.active ul {
        display: block;
        margin: auto;
        text-align: center;
    }

    #menu li {
        display: block;
        margin-bottom: 2px;
    }

    #menu a {
        margin-left: 0px;
    }

}

#box-content {
    font-family: 'Quicksand', sans-serif;
    max-width: 800px;
    min-width: 320px;
    margin: auto;
    padding: 0px 8px 0px 8px;
}

#titulo {
    text-align: center;
    margin-bottom: 15px;
}

#divCard {
    display: flex;
    background-color: whitesmoke;
    max-width: 600px;
    min-width: 320px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 2px black;
    margin: auto;
    margin-bottom: 10px;
}

#divCard:hover{
    box-shadow: 0px 0px 8px #272A59;
    cursor: pointer;
}

#divLinha {
    max-width: 800px;
    min-width: 320px;
    height: 2px;
    background-color: black;
    margin-bottom: 10px;
}

#divCard img {
    display: block;
    width: 100px;
    box-shadow: 0px 0px 2px black;
}

#divCard #divTexto {
    margin-left: 8px;
}

#divCard #divTexto h2 {
    margin-bottom: 4px;
}

#divCard #divTexto h3 {
    margin-bottom: 12px;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #37A686;
    margin-top: 10px;
}

#redes_sociais_footer {
    max-width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#redes_sociais_footer .fa:hover {
    opacity: 0.9;
}

#redes_sociais_footer .fa-linkedin {
    background: #37A686;
    color: white;
}

#redes_sociais_footer .fa-instagram {
    background: #37A686;
    color: white;
}

#redes_sociais_footer .fa-twitter {
    background: #37A686;
    color: white;
}

#redes_sociais_footer .fa {
    text-align: center;
    font-size: 25px;
    width: 50px;
    height: 50px;
    padding-top: 15px;
    box-sizing: border-box;
    text-decoration: none;
}
